<section id="main">
  <a href="./#/drivers" id="back">&larr; Back to drivers list</a>

  <div class="driver" ng-show="driver">

    <nav id="secondary" class="main-nav cf driver-info">
      <div class="driver-picture">
        <div class="avatar">
          <img ng-show="driver" src="img/drivers/{{driver.Driver.driverId}}.png" />
          <img ng-show="driver" src="img/flags/{{driver.Driver.nationality}}.png" /><br/>
          {{driver.Driver.givenName}} {{driver.Driver.familyName}}
        </div>
      </div>
      <div class="driver-status">
        Country: {{driver.Driver.nationality}}   <br/>
        Team: {{driver.Constructors[0].name}}<br/>
        Birth: {{driver.Driver.dateOfBirth}}<br/>
        <a href="{{driver.Driver.url}}" target="_blank">Biography</a>
      </div>
    </nav>

    <div class="main-content">
      <table class="result-table">
        <thead>
          <tr><th colspan="5">Formula 1 2013 Results</th></tr>
        </thead>
        <tbody>
          <tr>
            <th>
              <a ng-click="orderByField='round'; reverseSort = !reverseSort">
                Round
                <span ng-show="orderByField == 'round'">
                  <span ng-show="!reverseSort">&#9650;</span>
                  <span ng-show="reverseSort">&#9660;</span>
                </span>
              </a>
            </th>
            <th>
              <a ng-click="orderByField='raceName'; reverseSort = !reverseSort">
                Grand Prix
                <span ng-show="orderByField == 'raceName'">
                  <span ng-show="!reverseSort">&#9650;</span>
                  <span ng-show="reverseSort">&#9660;</span>
                </span>
              </a>
            </th>
            <th>
              <a ng-click="orderByField='Results[0].Constructor.name'; reverseSort = !reverseSort">
                Team
                <span ng-show="orderByField == 'Results[0].Constructor.name'">
                  <span ng-show="!reverseSort">&#9650;</span>
                  <span ng-show="reverseSort">&#9660;</span>
                </span>
              </a>
            </th>
            <th>
              <a ng-click="orderByField='Results[0].grid'; reverseSort = !reverseSort">
                Grid
                <span ng-show="orderByField == 'Results[0].grid'">
                  <span ng-show="!reverseSort">&#9650;</span>
                  <span ng-show="reverseSort">&#9660;</span>
                </span>
              </a>
            </th>
            <th>
              <a ng-click="orderByField='Results[0].position'; reverseSort = !reverseSort">
                Race
                <span ng-show="orderByField == 'Results[0].position'">
                  <span ng-show="!reverseSort">&#9650;</span>
                  <span ng-show="reverseSort">&#9660;</span>
                </span>
              </a>
            </th>
          </tr>

          <tr ng-repeat="race in races | orderBy:orderByField:reverseSort">
            <td>{{race.round}}</td>
            <td><img  src="img/flags/{{race.Circuit.Location.country}}.png" />{{race.raceName}}</td>
            <td>{{race.Results[0].Constructor.name}}</td>
            <td>{{race.Results[0].grid}}</td>
            <td>{{race.Results[0].position}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    </div><!-- end .driver -->
    <div ng-show="!driver">
      <p class="error">Sorry, we couldn't find that driver.</p>
    </div>
  </section>